In [1]:
"""BMI 6018 Fall 2022 

Instructions: For this assignment, please return all answers as variables in your
.py file. You will quickly note that you will need to find answers outside the
class lectures. This is not an accident! You will need to become professionally
comfortable with looking things up via the python docs and google. 

Ensure that all variables are labelled according to the example. IE the answer
to problem 1 part c should be labelled one_c. While all questions are answerable
with a single line of code, you are free to use helper variables so long as they
are helpfully/informatively named. 

I should be able to open your .py file and run it without errors. I will **not** be 
debugging your code for you. If your file does not run, it will **not** be graded. 
If you are unsure if your file will run, open up a chpc terminal and test it there.

For this assignment, please only use base python files types. That is: there 
should be no import calls in your file save my use of sys at the end.

Example Problem

0.a Create a list of strings
0.b Using a str method, capitalize one of the elements in the list using a slice
0.c Coerce one character of the list to display as a hex

zero_a = ['first','second','third','fourth','fifth']
zero_b = zero_a[1].upper()
zero_c = hex(ord(zero_a[1][1]))

#Problem 1: Lists, Sets and Coersion

1.a Create a list of integers no fewer than 10 items from 0 to 9.
 .b Add 3 to the 5th indexed element
 .c Coerce all elements in the list to floats using list comprehension
 .d Coerce the list to a set
 .e Using a method, append int 10 to the set
 .f Using a method, pop an item from the set
 .g Using a length counting function, count the number of items in the set
 .h Check if the number of items in the set is the same as the 
    number of items in the list
 .i Coerce the set to a list and use the "+" operator combine the list to the list from 1.a
 .j Coerce 1.i to a set
 .k Count the number of elements in the 1.j



Problem 2: Dictionary woes

2.a Combine the three sample dictionaries (given below) into a nested dictionary (nested in programming means joined), named 
    two_a, ensure the key names are the same as the dictionary names.
 .b Using keys, retrieve the Dango's name from 2.a
 .c Using keys, update the value of Mochi's year to 2018. This should not be a variable
    and should simply update 2.a.
 .d Manually create a dictionary that has a single level and contains each patient
    as the key and the year as the value. Set Mochi's year to 2019.'
 .e Coerce the keys of 2.d into a list
 .f Coerce the values of 2.d into a list
 .g Use the zip function to combine 2.e and 2.f into a dictionary again


two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}



Problem 3: Set combinations

Given the predefined sets below and using set methods
3.a Is set E a subset of set A
 .b Is set E a strict subset of set A
 .c Create a set that is the intersection of set A and set B
 .d Create a set that is the union of sets C, D and E
 .e add 9 to the set
 .f Using == compare this set to the list in one_a
 .g Explain why they are not the same. What would you need to change if you
    wanted this to be True?
 

three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}



Problem 4: Changing variable types

For each step you will modify a variable, then append the type of the variable
to a list. Do not recreate the list variable, it should be a running list of 
types.

4.a Create a variable of type int with the value of 8
 .b Create an empty list 
 .c Using type(), add the type of 4.a to this list
 .d Add 0.39 to 4.c
 .e append the type of 0.39 to the list
 .f exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no 
    decimal places, and append to list.
 .g append the type to the list
 
 
Problem 5: More variable type changes

Continue from where you left off in Problem 4.

5.a Manually create a dictionary where the values are items in the list from where we left in 
    problem 4, and the keys should be their index in the list. Print the dictionary.
 .b Add 300 and coerce it into a string
 .c append the type to the list
 .d slice the string up to the 2nd element
 .e append the type to the list
 .f use list comprehension to convert this into a new list of integers
 .g append the type to the list
 .h append the type of three_setA to the list
"""

#Start your assignment here
print("Assignment 3")

Assignment 3

# Assignment 3

## Problem 1: Lists, Sets and Coersion

### 1.a Create a list of integers no fewer than 10 items from 0 to 9.

In [28]:
# to create a list manually, use square bracket
my_list = [0,1,2,3,4,5,6,7,8,9]

# alternatively can use the built in function "range" and it will return a sequence of integers between start, end, with a given step size
list_range = list(range(0, 10, 1))
list_range

# check to see if the outputs are the same between each method
my_list == list_range

# save as "one_a"
one_a = list_range

print(one_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 1.b Add 3 to the 5th indexed element

In [29]:
# since lists are mutable, we can add three to the 5th indexed element, which is equal to 5
one_a[5]

5

In [30]:
# if we wanted to change the 5th indexed item of the original list in place, we could use the following:
# store one_a as one_b
one_b = one_a
one_b[5] = one_b[5] + 3

one_b

[0, 1, 2, 3, 4, 8, 6, 7, 8, 9]

### 1.c Coerce all elements in the list to floats using list comprehension

In [5]:
# store one_b list as one_c

# return float(item) for each item in one_b list; coerces each item in list one at a time and returns new list
one_c = [float(x) for x in one_b]

print(one_c)

[0.0, 1.0, 2.0, 3.0, 4.0, 8.0, 6.0, 7.0, 8.0, 9.0]

### 1.d Coerce the list to a set

In [6]:
# coerce a list to a set
one_d = set(one_c)

# result is now contained in curly brackets, not square brackets
print(one_d)

# double check the new set using type()
type(one_d)

{0.0, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0}

set

### 1.e Using a method, append int 10 to the set

In [7]:
# methods are built in to the object type and can be accessed using the "." after the object name
# first rename one_d and store it as one_e
one_e = one_d
print(one_e)
# now add the integer 10 to the end of the set using the add method
one_e.add(10)
print(one_e)

{0.0, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0}
{0.0, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10}

### 1.f Using a method, pop an item from the set

In [8]:
# first rename one_e as one_f
one_f = one_e
print(one_f)

# pop randomly removes one item from the list, the following line returns the item that was removed:
print(one_f.pop())

# now reprinting the set, we see that the item returned above is now missing from the set
print(one_f)

{0.0, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10}
0.0
{1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10}

### 1.g Using a length counting function, count the number of items in the set

In [9]:
# rename one_f as one_g
one_g = one_f
print(one_g)
# get number of items in the set using the len() function
one_g = len(one_g)
print(one_g)

{1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10}
9

### 1.h Check if the number of items in the set is the same as the number of items in the list

In [10]:
# number of items in list from question 1c
print(one_c)
print(len(one_c))

# number of items in set from question 1g
print(one_f)
print(one_g)

# are the lengths equal?
one_h = len(one_c) == one_g

print(one_h)

[0.0, 1.0, 2.0, 3.0, 4.0, 8.0, 6.0, 7.0, 8.0, 9.0]
10
{1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10}
9
False

The lengths are different because in the set we have 8.0 duplicated. When it was converted to a set, the duplicates were dropped. This is why the list is longer than the set.

### 1.i Coerce the set to a list and use the "+" operator combine the list to the list from 1.a

In [11]:
# coerce set to a list
one_i = list(one_f)
print(type(one_i))

# append with list from 1.a using the + operator
one_i = one_a + one_i
print(one_i)

<class 'list'>
[0, 1, 2, 3, 4, 8, 6, 7, 8, 9, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10]

### 1.j Coerce 1.i to a set

In [12]:
# coercing one_i from a list to a set

one_j = set(one_i)
# now one_j has curly brackets, indicating it's a set
print(one_j)
# double checking with type function
print(type(one_j))

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10}
<class 'set'>

Interestingly, when a list of integers and their equivalent floats is converted to a set the floats get removed, and only integers remain.

### 1.k Count the number of elements in the 1.j

In [13]:
# get the number of elements in the one_j set

# use the len function to count the number of elements in the set
one_k = len(one_j)
print(one_k)

10

## Problem 2: Dictionary Woes

### 2.a 
Combine the three sample dictionaries (given below) into a nested dictionary (nested in programming means joined), named two_a, ensure the key names are the same as the dictionary names.

two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}

In [14]:
## create a nested dictionary from existing dictionaries


two_patient_dictionary_kinoko = {
  "name" : "Kinoko",
  "year" : 2021
}
two_patient_dictionary_dango = {
  "name" : "Dango",
  "year" : 2019
}
two_patient_dictionary_mochi  = {
  "name" : "Mochi",
  "year" : 2020
}


two_a = {
    "two_patient_dictionary_kinoko" : two_patient_dictionary_kinoko,
    "two_patient_dictionary_dango" : two_patient_dictionary_dango,
    "two_patient_dictionary_mochi" : two_patient_dictionary_mochi
}

print(type(two_a))
print(two_a)

<class 'dict'>
{'two_patient_dictionary_kinoko': {'name': 'Kinoko', 'year': 2021}, 'two_patient_dictionary_dango': {'name': 'Dango', 'year': 2019}, 'two_patient_dictionary_mochi': {'name': 'Mochi', 'year': 2020}}


### 2.b
Using keys, retrieve the Dango's name from 2.a

In [15]:
# retrieving the name Dango from the nested list
# to access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary
two_b = two_a["two_patient_dictionary_dango"]["name"]
print(two_b)

Dango


### 2.c 
Using keys, update the value of Mochi's year to 2018. This should not be a variable and should simply update 2.a.

In [16]:
# now update the value of Mochi's year to 2018
# two_a gets updated, don't need to create a new variable

# originally it equals 2020
print(two_a["two_patient_dictionary_mochi"]["year"])

# updating it to 2018
two_a["two_patient_dictionary_mochi"]["year"] = 2018
print(two_a["two_patient_dictionary_mochi"]["year"])

2020
2018

### 2.d 
Manually create a dictionary that has a single level and contains each patient as the key and the year as the value. Set Mochi's year to 2019.'

In [17]:
# manually create a dictionary (no longer nested)
# key = patient
# value = year

two_d = {"kinoko" : 2021,
         "dango" : 2019,
         "mochi" : 2019}

print(two_d)

{'kinoko': 2021, 'dango': 2019, 'mochi': 2019}

### 2.e 
Coerce the keys of 2.d into a list

In [18]:
# coercing dictionary keys into a list
# keys() extracts the keys from the dictionary object and list() coerces it into a list
two_e = list(two_d.keys())
print(two_e)
# check type to ensure it is a list
type(two_e)

['kinoko', 'dango', 'mochi']

list

### 2.f 
Coerce the values of 2.d into a list

In [19]:
# coercing dictionary values into a list
# values() extracts the values from the dictionary object and list() coerces it into a list
two_f = list(two_d.values())
print(two_f)
# check type to ensure it is a list
type(two_f)

[2021, 2019, 2019]

list

### 2.g 
Use the zip function to combine 2.e and 2.f into a dictionary again

In [20]:
# combining two e and two f into a dictionary using dict and zip functions
two_g = dict(zip(two_e, two_f))

print(two_g)

{'kinoko': 2021, 'dango': 2019, 'mochi': 2019}

## Problem 3: Set combinations

Given the predefined sets below and using set methods

three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}

### 3.a 
Is set E a subset of set A

In [21]:
# load predefined sets as objects
three_setA = {1,2,3,4,5}
three_setB = {2,3,4,5,6}
three_setC = {3,5,7,9}
three_setD = {2,4,6,8}
three_setE = {1,2,3,4}

# see if E is a subset of A
three_a = three_setE.issubset(three_setA)
print(three_a)

True

Yes, Set E is a subset of set A.

### 3.b 
Is set E a strict subset of set A

In [22]:
# see if E is a STRICT subset of A by making sure it is a subset but not equal to A
three_b = three_setE.issubset(three_setA) and (three_setE != three_setA)
print(three_b)

True

### 3.c 
Create a set that is the intersection of set A and set B

In [23]:
# create a new set called three_c that is the intersection of A and B
three_c = three_setA.intersection(three_setB)
print(three_c)

{2, 3, 4, 5}

### 3.d 
Create a set that is the union of sets C, D and E

In [24]:
# create a new set called three_d that is the union of C, D, and E
three_d = three_setC.union(three_setD, three_setE)
print(three_d)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 3.e 
add 9 to the set

In [25]:
# includes the union of sets C, D, and E and adds 9
# this shouldn't change the set because 9 is already included and sets drop duplicates
three_d.add(9)
print(three_d)

{1, 2, 3, 4, 5, 6, 7, 8, 9}


### 3.f 
Using == compare this set to the list in one_a

In [34]:
# use == to determine if the list from one_a is equal to the set from 3d/3e
one_a = list(range(0,10))
three_f = one_a == three_d
print(three_f)

False

They are not equivalent.

### 3.g 
Explain why they are not the same. What would you need to change if you wanted this to be True?

They are not the same because the set from one_a contains a zero, and so they have different lengths as well as being different data types. To make them equivalent you would need to either remove the zero from one_a or add it to three_d and then convert the data type from either

In [35]:
print(one_a)
print(three_d)

one_a[1:] == list(three_d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

True

## Problem 4: Changing variable types

For each step you will modify a variable, then append the type of the variable
to a list. Do not recreate the list variable, it should be a running list of 
types.

### 4.a 
Create a variable of type int with the value of 8

In [357]:
four_a = int(8)
print(four_a)
print(type(four_a))

8
<class 'int'>

### 4.b 
Create an empty list

In [358]:
# create an empty list
four_b = list()
type(four_b)

list

### 4.c 
Using type(), add the type of 4.a to this list

In [359]:
# four_b, the empty list has no data type, just list type; use type(four_a) and append() to add the list type of four_a; class 'int'
four_b.append(type(four_a))
print(four_b)

[<class 'int'>]

### 4.d 
Add 0.39 to 4.c

In [360]:
four_b.append(0.39)

print(four_b)

[<class 'int'>, 0.39]

### 4.e 
append the type of 0.39 to the list

In [361]:
# use the append and type functions again to add the float class as the next item in the list
four_b.append(type(0.39))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>]

### 4.f 
exponentiate to the -10, ie: 4.d^-10,(hint: there might be an artihmetic operator to do so) round it to no decimal places, and append to list.

In [362]:
# exponentiate 0.39 to the -10 power; round to 0 decimal places
four_d_exp = round(0.39**(-10))
print(four_d_exp)

# append it to the list
four_b.append(four_d_exp)
print(four_b)

12284
[<class 'int'>, 0.39, <class 'float'>, 12284]

### 4.g 
append the type to the list

In [363]:
# get the type of the rounded four_d_exp and append to the list
four_b.append(type(four_d_exp))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>]

## Problem 5: More variable type changes

Continue from where you left off in Problem 4.

### 5.a 
Manually create a dictionary where the values are items in the list from where we left in problem 4, and the keys should be their index in the list. Print the dictionary.

In [364]:
# manually creating a list
# keys are the index, which in python starts at 0
# values are the items from the list
five_a = {"0" : "<class 'int'>",
          "1" : 0.39,
          "2" : "<class 'float'>",
          "3" : 12284,
          "4" : "<class 'int'>"}

print(five_a)

{'0': "<class 'int'>", '1': 0.39, '2': "<class 'float'>", '3': 12284, '4': "<class 'int'>"}

### 5.b 
Add 300 and coerce it into a string

In [365]:
# add 300 to the list from 4b using append; use quotes to coerce it to a string
four_b.append("300")
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300']

### 5.c 
append the type to the list

In [366]:
# get type of the string and append it to the list
four_b.append(type("300"))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>]

### 5.d 
slice the string up to the 2nd element

In [367]:
# save the string as an object
string_300 = "300"

# slice up to the second element
five_d = string_300[:2]
print(five_d)

30

### 5.e 
append the type to the list

In [368]:
four_b.append(type(five_d))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>]

### 5.f 
use list comprehension to convert this into a new list of integers

In [369]:
# extract the integers from the list to create a list of only integers

# create a helper function
def int_extract_fun(a):
    try:
        return int(a) # tries to convert input values into integers
    # if there is a Type error (e.g. converting class to integer, skip the input)
    except TypeError: 
        pass
  

print(four_b)
# use list comprehension to run the function iteratively in four_b
five_f = [int_extract_fun(x) for x in four_b]
print(five_f)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>]
[None, 0, None, 12284, None, 300, None, None]


### 5.g 
append the type to the list

In [370]:
# get type of the new list and append it to the original list
four_b.append(type(five_f))
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>, <class 'list'>]

### 5.h 
append the type of three_setA to the list

In [372]:
three_setA = {1,2,3,4,5} # load set

four_b.append(type(three_setA)) # append four_b with the set type
print(four_b)

[<class 'int'>, 0.39, <class 'float'>, 12284, <class 'int'>, '300', <class 'str'>, <class 'str'>, <class 'list'>, <class 'set'>]