## Assignment 8: Data cleaning with Pandas

In [23]:

# Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Importing Data
flights_data = pd.read_csv('data/flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('data/weather.csv')
weather_data_np = weather_data_pd.to_numpy()

### Question 1

In [33]:
flights_data.loc[flights_data['dest'] == "SLC"]

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
54,55,2013,1,1,655.0,0.0,1021.0,-9.0,DL,N3763D,1415,JFK,SLC,294.0,1990,6.0,55.0
250,251,2013,1,1,1047.0,-3.0,1401.0,-9.0,DL,N3748Y,1275,JFK,SLC,295.0,1990,10.0,47.0
332,333,2013,1,1,1245.0,0.0,1616.0,1.0,DL,N711ZX,2174,JFK,SLC,298.0,1990,12.0,45.0
366,367,2013,1,1,1323.0,23.0,1651.0,43.0,DL,N3736C,1185,EWR,SLC,295.0,1969,13.0,23.0
493,494,2013,1,1,1543.0,-7.0,1933.0,8.0,DL,N688DL,1773,JFK,SLC,320.0,1990,15.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336220,336221,2013,9,30,1251.0,-8.0,1543.0,-14.0,DL,N3763D,1375,JFK,SLC,267.0,1990,12.0,51.0
336417,336418,2013,9,30,1556.0,11.0,1904.0,9.0,DL,N3734B,31,JFK,SLC,267.0,1990,15.0,56.0
336519,336520,2013,9,30,1725.0,0.0,2022.0,2.0,DL,N3765,2471,EWR,SLC,253.0,1969,17.0,25.0
336634,336635,2013,9,30,1913.0,-6.0,2149.0,-45.0,B6,N615JB,71,JFK,SLC,254.0,1990,19.0,13.0
336666,336667,2013,9,30,1945.0,0.0,2233.0,-32.0,DL,N6705Y,1768,JFK,SLC,263.0,1990,19.0,45.0

In [14]:

# Pandas Data Filtering/Sorting Question Answering
# use flights_data

#Question 1 How many flights were there from JFK to SLC? Int

# first use .loc to subset the data to only include rows with JFK as origin and SLC as destination
jfk_slc = flights_data.loc[(flights_data['origin'] == "JFK") & (flights_data['dest'] == "SLC")]

# then since each row is a flight, get the number of rows to get the number of flights
# pandas' shape returns the number of rows and columns, we can extract the number of rows using [0]
q_1 = jfk_slc.shape[0]

print(f"There are {q_1} flights from JFK to SLC.")

There are 2113 flights from JFK to SLC.

In [40]:

#Question 2 How many airlines fly to SLC? Should be int

# use .loc to again filter only rows with SLC as the destination airport
# then use ['origin'] to selct only the single Series that specifies the origin airport
origin_airports = flights_data.loc[(flights_data['dest'] == 'SLC')]['origin']


# now use .nunique to get the number of airports that fly to SLC
q_2 = origin_airports.nunique()

origin_airports.unique()
print(f"There are {q_2} airports that have flights into SLC in this data set: {origin_airports.unique()[0]}, and {origin_airports.unique()[1]}.")

There are 2 airports that have flights into SLC in this data set: JFK, and EWR.

In [43]:

#Question 3 What is the average arrival delay for flights to RDU? float

# use .loc to subset flights arriving at RDU airport destination
# use ['arr_delay'] to select only the arrival delay column
# use .mean() to calculate the average values across this column
q_3 = flights_data.loc[flights_data['dest'] == "RDU"]['arr_delay'].mean()


print(f"The average delay of flights landing at RDU airport is {q_3:.2f} minutes")

The average delay of flights landing at RDU airport is 10.05 minutes

In [53]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float

# use .loc to filter to flights with SEA as the destination airport
seattle = flights_data.loc[flights_data['dest'] == 'SEA']

# get a list of airports in NYC
nyc = ['JFK', 'LGA']
# filter the seattle dataframe to flights that originate in the nyc airports
seattle_nyc = seattle[seattle['origin'].isin(nyc)]
seattle_nyc

# get proportion of flights landing in seattle that originate from nyc airports

q_4 = seattle_nyc.shape[0]/seattle.shape[0]

f"The proportion of flights that land in Seattle that are from either JFK or LGA is {q_4:.2f}."

'The proportion of flights that land in Seattle that are from either JFK or LGA is 0.53.'

In [92]:

#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)

# create a series called date 
# first convert the year, month, day values into strings from ints
date = flights_data[['year', 'month', 'day']].astype("str")
# then use .apply method to concanenate across each row (axis = 1) and join using "/" as a separator to get date = 'y/m/d'
date = date.apply('/'.join, axis=1)

# add date column back to original data set
flights_data['date'] = date

# get only delay column and date column
delay_data = flights_data[['date', 'dep_delay']]

# group by date, and get the mean dep_delay for each day
delay_mean = delay_data.groupby('date').mean()

# filter to the row in the data that is the maximum average delay
q_5 = delay_mean[delay_mean.dep_delay == delay_mean.dep_delay.max()]
q_5
print(f"The maximum delay was {q_5}")

The maximum delay was           dep_delay
date
2013/3/8  83.536921

In [93]:

#Question 6 Which date has the largest average arrival delay? pd slice with date and float

# get only arrival delay column and date column
delayarr_data = flights_data[['date', 'arr_delay']]

# group by date, and get the mean arr_delay for each day
delayarr_mean = delayarr_data.groupby('date').mean()

# filter to the row in the data that is the maximum average delay
q_6 = delayarr_mean[delayarr_mean.arr_delay == delayarr_mean.arr_delay.max()]
q_6
print(f"The maximum arrival delay was {q_6}")

The maximum arrival delay was           arr_delay
date
2013/3/8  85.862155

In [104]:

#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime

# get speed by dividing distance by airtime
speed = flights_data['distance'] / flights_data['air_time'] 
# add speed as a column to the flight data
flights_data['speed'] = speed

# subset rows to only include where speed is at its max, and return only tailnum and speed columns
q_7 = flights_data[flights_data['speed'] == flights_data.speed.max()][['tailnum', 'speed']]

print(f"The fastest flight was {q_7}")

The fastest flight was        tailnum      speed
216447  N666DN  11.723077

In [112]:


#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
q_8 = weather_data_pd.fillna(0)
q_8

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [122]:

# Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
# month is the 4th column (3rd index)
# use [:,3] to return only the month column and all rows
# use == 2 to get a boolean only rows that have February as the month and sum since True = 1 and False = 0
q_9 = sum(weather_data_np[:,3] == 2)

print(f"Assuming each row is an observation, the number of observations made in February is {q_9}.")

Assuming each row is an observation, the number of observations made in February is 671.

In [131]:
#Question 10 What was the mean for humidity in February? Float

# subset to get only february data
feb = weather_data_np[weather_data_np[:,3] == 2]

# get the 8th column for humidity and take the mean
q_10 = feb[:,8].mean()

print(f"The mean humidity for February is {q_10:.2f}.")

The mean humidity for February is 62.92.

In [134]:

#Question 11 What was the std for humidity in February? Float

# get the standard deviation for humidity in February
q_11 = feb[:,8].std()

print(f"The standard deviation for humidity for February is {q_11:.2f}.")

The standard deviation for humidity for February is 20.34.